body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

header {
    background-color: azure;
}

nav {
    display : inline-block;
    background-color: aqua;
    width: 80%
}

nav img {
    width : 10%
}

main {
    background-color: aliceblue;
    font-size: small;
}

footer {
    background-color: cornflowerblue;
}

/* li {
    display: block;
    width: 130px;
} */

h1 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

p {
    line-height: 1.2;
}

.grid {
    display : grid;
    gris-templlate-columns : 40% 40%;
    justify-content : space-between;
    align-items : center;
    row-gapp : 20px;
    }
.grid img {
    width : 100%
    }
.flex {
    display : flex;
    flex-wrap : wrap;
    justify-content: space-around;
}
