body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

header {
    background-color: coral;
}

nav {
    
    display : inline-block;
    background-color: chocolate;
    width: 80%
}

nav img {
    width : 10%
}

main {
    background-color: blue;
    font-size: medium;
}

footer {
    background-color: yellowgreen;
}

/* li {
    display: list-item;
    width: 100px;
} */

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}

p {
    line-height: 1.6;
}

.grid {
    display : grid;
    gris-templlate-columns : 40% 40%;
    justify-content : space-between;
    align-items : center;
    row-gapp : 20px;
    }
.grid img {
    width : 100%
    }
.flex {
    display : flex;
    flex-wrap : wrap;
    justify-content: space-around;
}
